.cell{
  box-sizing:border-box;
  border:1px solid #757575;
  margin:1px;
  float:left;
  width:23px;
  height:23px;
  border-radius:5px
}

.i-piece{
    background-color:#00BCD4;
}

.j-piece{
  background-color:#2196F3;
}

.l-piece{
  background-color:#FF9800;
}

.o-piece{
  background-color:#FFEB3B;
}

.s-piece{
  background-color:#CDDC39;
}

.t-piece{
  background-color:#9C27B0;
}

.z-piece{
  background-color:#F44336;
}
